body{ 
background-color :silver;}

h1{ color: black;
    font-size: 250 px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    }
.container h1{
  background-color: cornflowerblue;
}
#frmRegister{
  width: 350px;
  margin: 10vh auto 0 auto;
  padding: 20px;
  border: black solid 2px;
}

#frmRegister button{
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  background-color:cornflowerblue;
  border: 2px solid;
  border-radius: 4px;
  width: 100%;

}
#frmRegister label{
  display: inline-block;
  margin-bottom:5px;
  font-size: 20px;
  color:blue;
  
}
.input-control{
  display: flex; 
  flex-direction: column;
}
.input-control input{

  display:block;
  border:2px solid silver  ;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  width:100%;
}
.input-control small{
  position: relative;
  font-size: 20px;
  margin: 3px;
  color:red;
  visibility : hidden;

}

